footer {
    background-color: $colorhf;
        iframe  {
            width: $ancho;
            box-shadow: $sombraimg;
                }
                        
        .tituloWeb   {
            text-decoration: none;
            color: slategrey;
            font-weight: bold;
            font-size: large;
                        }
        img{
            box-shadow: $sombraimg;
            border-radius: 50px;
            }
            }